:root{
    --font-color: #00f2ff;
    --whitee: rgb(255, 255, 255);
    --color: #103162;
    --background-color:#0d193d;
}
html{
    background-color: var(--background-color);
}
*{
    font-family: sans-serif;
}
img{
    width: 75%;
    height: 75%;
    position:relative;
    left: 11%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
    transition: 1s;
    /* padding:0.5rem; */
    border-bottom: rgb(255, 255, 255) solid;
}
img:hover{
    transform: scale(110%);
    box-shadow: 1px 1px 10px 10px rgb(14, 13, 13);
}
.date{
    margin-bottom: 2.5rem;
    position: relative;
    left: 75%;
    color: gray;
}

.postingArea{
    border: solid rgb(125, 125, 125) 0.1rem;
    margin: 5rem;
    background-color: var(--background-color);
    border-radius: 1rem;
}
.titletitle{
    color: rgb(11, 225, 225);
    margin-bottom: 0.5rem;
}
div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    font-size: 1.5rem;
}
.description{
    margin: auto;
    color:white;
    font-size: 1rem;
    width:50%;
    transition: 1s;
    padding: 1rem;
    border-radius: 1%;
}
.description:hover{
    background-color:rgb(0, 91, 91)
}
.title{
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 4rem;
    color: var(--font-color);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mainSection{
    padding-top: 1rem;
    background-color: var(--color);
    border: solid 1px var(--whitee);
    width: 75%;
    margin: auto;
    box-shadow: 3px 3px 3px black;
    border-radius: 1rem;
}